<div class="container">

  <nav class="side-menu">

    <p>SLACA 2019</p>
    <img src="../assets/logo.svg" />

    <ul class="side-bar">
      <li><a href="#">Apresentação</a></li>
      <li><a href="#">Comitês</a></li>
      <li><a href="#">Autores</a></li>
      <li><a href="#">Eixos temáticos</a></li>
      <li><a href="#">Trabalhos</a></li>
      <li><a href="#">Contato</a></li>
    </ul>

  </nav>

  <div class="side-content">

    <header>

      <div class="title">
        <p>Anais do Simpósio Latino Americano de Ciências de Alimentos </p>
        <h3>Anais do 13º Simpósio Latino Americano de Ciência de Alimentos </h3>
        <p>ISSN: 1234-5678</p>
      </div>

      <div class="languages-login">

        <div class="button-language">
          <img src="../assets/language-icon.svg" />
          <select name="languages">
            <option value="PT">PT, BR</option>
            <option value="EN">EN, US</option>
          </select>
        </div>

        <div class="login">
          <div>
            <p>Bem vindo!</p>
            <p>alguem12@galoascience.com</p>
          </div>

          <img src="../assets/avatar-image.svg" />
        </div>

      </div>

    </header>

    <div class="content">

      <div class="video">
        <h2>Análise sensorial de preparações funcionais desenvolvidas para escolares entre 09 e 15 anos, do município de
          Campinas/SP
        </h2>

        <iframe width="1000" height="439" src="https://www.youtube.com/embed/jfKfPfyJRdk" frameborder="0"
          allowfullscreen></iframe>
      </div>

      <div class="details">

        <div class="buttons">

          <button type="button">
            <img src="../assets/download.svg"> Download
          </button>

          <button type="button">
            <img src="../assets/star.svg">
          </button>

          <button type="button">
            <img src="../assets/doi.svg">
          </button>

        </div>

        <span>COMO CITAR ESSE TRABALHO?</span>

        <p>Detalhes</p>

        <div class="scroll-pane">
          <p>
            Tipo de Apresentação: <strong>Pôster</strong>
          </p><br>

          <p>
            Eixo temático: <strong>Alimentação e saúde (AS)</strong>
          </p><br>

          <p>
            Palavras-chaves: <strong>Alimentos funcionais, alimentação escolar.</strong>
          </p><br>

          <p>
            <strong>Autores:</strong>
          </p><br>

          <p>
            Galileo Galilei¹
          </p><br>

          <p>
            Berta Lange de Morretes²
          </p><br>

          <p>
            Isaac Newton³
          </p><br>

          <p>
            Cesar Lattes¹
          </p><br>

          <p>
            Stephen Hawking⁴
          </p><br>


          ¹Universidade Estadual de Campinas
          ²Universidade de São Paulo<br>
          ³Instituto Nacional de Pesquisas Espaciais<br>
          ⁴Universidade Federal do Rio de Janeiro

        </div>

      </div>

    </div>

    <div class="summary">
      <h2>Resumo</h2>
      <p class="summary-content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut
        viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum.
        <br><br>

        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum
        justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam
        erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero,
        eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor.
        Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio. <br><br>

        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
        vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget
        lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit
        elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at
        lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae
        pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur
        lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa. <br><br>

        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
        hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at
        viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
        malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. <br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut
        viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. <br><br>

        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum
        justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam
        erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero,
        eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor.
        Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio. <br><br>

        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
        vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget
        lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit
        elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at
        lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae
        pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur
        lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa. <br><br>

        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
        hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at
        viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
        malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsum
        dolor sit amet, consectetur adipiscing elit. <br><br>

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus vitae turpis auctor, mollis felis ut, commodo
        turpis. Phasellus felis mauris, egestas eget cursus et, iaculis quis lacus. Fusce auctor eros sed magna
        ultricies gravida. Etiam aliquam dictum nisl, vel aliquet enim accumsan sit amet. Donec finibus nisi tellus, ut
        viverra lorem vestibulum ut. Phasellus condimentum orci id leo condimentum lobortis et non lorem. Sed id nisl
        metus. Quisque sollicitudin ligula in sapien scelerisque, ac gravida eros vestibulum. <br><br>

        Fusce vitae luctus dui. Donec id euismod mauris, in volutpat urna. Proin dapibus consequat feugiat. Proin dictum
        justo arcu, quis vestibulum augue lacinia quis. Sed dignissim dui nulla, ut faucibus mauris sodales id. Aliquam
        erat volutpat. Maecenas dolor enim, tincidunt id elit non, suscipit interdum turpis. Etiam finibus urna libero,
        eget interdum eros volutpat ullamcorper. Pellentesque et pretium lorem. Aenean interdum quis diam ac porttitor.
        Cras nec ipsum pulvinar, pharetra libero non, ornare enim. Etiam in laoreet odio. <br><br>

        Nam eget tristique elit, at fermentum tellus. Mauris scelerisque ligula id eleifend feugiat. Donec eleifend
        vehicula sem nec dapibus. Integer scelerisque neque dui, in lacinia erat molestie eu. Phasellus maximus dui eget
        lacus porta tempor. Ut ex nibh, dignissim quis purus semper, efficitur facilisis turpis. Praesent blandit
        elementum ultricies. Aliquam sit amet enim sit amet nulla pulvinar lobortis consectetur non odio. Phasellus at
        lacus hendrerit, vulputate nisi sit amet, viverra mauris. Etiam eu scelerisque orci. Quisque sagittis, mi vitae
        pharetra iaculis, orci elit eleifend massa, eu posuere mauris odio id odio. Morbi eu libero luctus, consectetur
        lorem vel, interdum sapien. Aenean in porta arcu. Maecenas eu maximus massa. <br><br>

        Praesent velit dolor, dignissim sed quam ac, efficitur porta justo. Pellentesque porta pharetra felis ut
        hendrerit. Nulla facilisi. Aliquam erat volutpat. Nunc sit amet faucibus quam. Maecenas dapibus luctus dolor at
        viverra. Duis nec fringilla libero. Duis risus nibh, viverra ac orci nec, iaculis dictum sem. Aliquam at
        malesuada arcu. Aliquam erat volutpat. Donec varius ipsum purus, ut vehicula purus placerat vitae. Lorem ipsu
      </p>
      <span class="btn-show-more" onclick="toggleResumo()">ver mais...</span>
    </div>

    <div class="discussions">
      <h2>Discussões</h2>

      <div class="share">
        <h3>Compartilhe suas ideias ou dúvidas com os autores!</h3>

        <div class="images">
          <img src="../assets/icon1.svg">
          <img src="../assets/icon2.svg">
          <img src="../assets/icon3.svg">
        </div>

        <p>Sabia que o maior estímulo no desenvolvimento científico e cultural é a curiosidade? Deixe seus
          questionamentosou sugestões para o autor!
        </p>


        <button type="button" class="btn-create-topic" onclick="createTopic()">
          <img src="../assets/plus.svg"> criar tópico
        </button>

      </div>

      <div class="new-topic hide">
        <p>Tem uma dúvida ou sugestão? Compartilhe seu feedback com os autores!</p>

        <form onsubmit="return false;">
          <label>Assunto</label>
          <input class="subject" type="text" placeholder="Defina um tópico sucinto para notificar os autores...">
          <label >Conteúdo</label>
          <textarea></textarea>
          <button onclick="sendATopic()">Enviar</button>
        </form>
      </div>

      <div class="share modal hide">
        <h3>Seu tópico foi enviado com sucesso! :D</h3>

        <p>Agradecemos por sua contribuição, uma notificação será enviada ao seu email assim que seu tópico for
          respondido!
        </p>

        <span>Descubra outros trabalhos!</span>


        <button type="button" onclick="newTopic()">
          <img src="../assets/plus.svg"> criar tópico
        </button>

      </div>

      <div class="topic-container ">

        <div class="topics modal hide ">
          <img src="../assets/positive.svg">
          <span>Aguardando feedback dos autores</span>
          <p>Editar tópico</p>
        </div>

        <div class="topics">
          <h3>Assunto da pergunta aparece aqui</h3>
          <span>Carlos Henrique Santos</span>
          <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto de
            processo formativo situado impacto de processo formativo processo...</p>

          <div class="topics-buttons">
            <img src="../assets/mais-informacoes.svg">

            <button type="button">
              <img src="../assets/coracao.svg">
            </button>

            <p>1 like</p>
            <p>1 resposta</p>
          </div>
        </div>

        <div class="topics answered-topic">
          <h3 class="ops-topic-subject" onclick="ExpandedTopicCard()">Assunto da pergunta aparece aqui</h3>
          <span>Carlos Henrique Santos</span>
          <p>Comecinho da pergunta aparece aqui resente relato inscreve-se no campo da análise da dimensão e impacto
            de
            processo formativo situado impacto de processo formativo processo...</p>
          <div class="topics-buttons">
            <img src="../assets/mais-informacoes.svg">

            <button type="button">
              <img src="../assets/coracao.svg">
            </button>

            <p>4 likes</p>
            <p>4 resposta</p>
          </div>

          <div class="comments-container hide">

            <div class="autor">
              <div>
                <span>Adriano da Silva</span>
                <div>
                  <h3>Autor</h3>
                  <img src="../assets/positiveOrange.svg">
                </div>
              </div>
              <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
                da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
            </div>

            <div class="none">
              <div>
                <span>Carlos Henrique Santos</span>
              </div>
              <p>Consegui entender melhor agora! Parece que a variação da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo.</p><br>
              <p>Obrigada pela resposta, muito interessante o seu trabalho!</p>
            </div>

            <div class="autor">
              <div>
                <span>Carmila Ferreira Andrade</span>
                <div>
                  <h3>Coautor</h3>
                  <img src="../assets/positiveOrange.svg">
                </div>
              </div>
              <p>Também ínteressante lembrar que o relato inscreve-se no campo da análise da dimensão e impacto de
                processo formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da
                análise da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p><br>

              <p>Situado impacto de processo formativo processo resente relato inscreve-se no campo da análise da
                dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
            </div>

            <div class="autor">
              <div>
                <span>Ana Carolina</span>
                <div>
                  <h3>Coautor</h3>
                  <img src="../assets/positiveOrange.svg">
                </div>
              </div>
              <p>Resposta do autor é aqui. Relato inscreve-se no campo da análise da dimensão e impacto de processo
                formativo situado impacto de processo formativo processo resente relato inscreve-se no campo da análise
                da dimensão e impacto de processo formativo situado impacto de processo formativo processo.</p>
            </div>

          </div>

        </div>

      </div>

    </div>

    <footer>
      <img src="../assets/footer.svg">
    </footer>

  </div>

</div>
